################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Life/bin/Debug/netcoreapp8.0
/Life/obj
/LifeTests/obj
/LifeTests/bin/Debug/net8.0
